/* there will be global app styles as reset, fonts, variables etc... */
@import 'normalize.css';
/* connect font as link  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');
/* or locally using file styles/fonts.css and folder src/fonts */
/* @import './fonts.css'; */
@import './variables.css';

* {
    font-family: 'Roboto', system-ui, sans-serif;
    scroll-behavior: smooth;
}

#root {
    /* some root-styles if needed */
    position: relative;
}
